Exercice 1

La data est un processus qui consiste à collecter, organiser, examiner et interpréter des données brutes à l’aide de différentes techniques afin d’en extraire des informations pertinentes et de dégager des tendances ou des modèles. Elle mobilise des outils statistiques, informatiques et visuels pour traiter des volumes importants de données, qu’elles soient structurées ou non, dans le but de transformer ces données en connaissances exploitables pour prendre des décisions éclairées. Quelques exemples de domaines où 

1. L’action sociale et l’évaluation des politiques publiques
La Fondation Abbé Pierre, qui lutte contre le mal-logement en France, utilise l’analyse de données pour évaluer l’ampleur du phénomène, identifier les publics prioritaires et mesurer l’impact de ses actions. L’analyse statistique des données issues de ses enquêtes et de ses interventions permet d’orienter ses campagnes de sensibilisation et de cibler les aides là où elles sont les plus efficaces.
2. La finance et la prévision économique
Les banques américaines recourent massivement à l’analyse de données pour prédire l’évolution de la dette, des taux d’intérêt ou des risques de défaut. Grâce à l’intelligence artificielle et à l’apprentissage automatique, elles modélisent des scénarios économiques complexes et anticipent les fluctuations des marchés. Ces analyses influencent les politiques de crédit, les stratégies d’investissement et la gestion des risques à grande échelle.
3. Le climat et la prévision environnementale
Dans le domaine du climat, l’analyse de données est essentielle pour étudier les évolutions de la température, des précipitations ou des événements extrêmes. Les scientifiques utilisent des graphiques pour visualiser ces tendances, comme les diagrammes climatiques ou climatogrammes, qui montrent la variation mensuelle ou annuelle de la température et des précipitations sur plusieurs décennies. Ces outils permettent de comparer l’évolution du climat dans une région donnée et d’anticiper les risques liés au changement climatique.

In [ ]:
Exercice 2

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Time Americans Spend Sleeping.csv")

In [13]:
df.head(5)

,index,Year,Period,Avg hrs per day sleeping,Standard Error,Type of Days,Age Group,Activity,Sex
0,0,2003,Annual,8.57,0.018,All days,15 years and over,Sleeping,Both
1,1,2004,Annual,8.55,0.026,All days,15 years and over,Sleeping,Both
2,2,2005,Annual,8.62,0.023,All days,15 years and over,Sleeping,Both
3,3,2006,Annual,8.63,0.024,All days,15 years and over,Sleeping,Both
4,4,2007,Annual,8.57,0.024,All days,15 years and over,Sleeping,Both

In [7]:
df.describe()

            index         Year  Avg hrs per day sleeping  Standard Error
count  945.000000   945.000000                945.000000      945.000000
mean   472.000000  2010.000000                  8.806868        0.086958
std    272.942302     4.322782                  0.545001        0.034631
min      0.000000  2003.000000                  7.720000        0.018000
25%    236.000000  2006.000000                  8.360000        0.063000
50%    472.000000  2010.000000                  8.810000        0.084000
75%    708.000000  2014.000000                  9.190000        0.106000
max    944.000000  2017.000000                 10.650000        0.228000

In [ ]:
#Dataset Description:
#This dataset provides information on the average amount of time Americans spend sleeping, broken down by age group, sex, and activity. 
# It allows for analysis of sleep duration, patterns, and factors influencing sleep among Americans. 
# The data includes metrics such as average sl#eep length, sleep efficiency, and comparisons across different demographics.

In [ ]:
# Dataset Description
# This dataset contains global statistics on the prevalence and trends of mental health disorders. 
# It typically includes variables such as country, year, disorder type (e.g., depression, anxiety), and prevalence rates. 
# The dataset enables analysis of how mental health disorders vary across regions and over time.

Exercise 3: Identifying Data Types
For each dataset, classify columns as quantitative (numerical) or qualitative (categorical):

Exercise 6: Basic Observation Skills in Data Analysis

How Much Sleep Do Americans Really Get?
Interesting columns for analysis:
Sleep Duration (for trend analysis over time or by group)
Age (to compare sleep patterns across age groups)
Gender (to observe differences between men and women)
Lifestyle Factors.